.ticket-field-formatter-view-form {

  > div {
    @include breakpoint($desk) {
      @include pie-clearfix;
    }
  }

  .ticket-wrapper {
    position: relative;

    @include breakpoint($desk) {
      width: 50%;
      vertical-align: top;
      padding: 20px;
      box-sizing: border-box;
    }

    &:first-child {

      @include breakpoint($desk) {
        background: #e8e8e8;
        float: left;
        min-height: 300px;
        padding-bottom: 100px;
        margin-bottom: 15px;

        .form-type-select {
          width: calc(100% - 40px);
          position: absolute;
          left: 20px;
          bottom: 0;
        }

      }

    }

    &:nth-child(2) {

      @include breakpoint($desk) {
        background: #e8e8e8;
        float: right;
        min-height: 300px;
        padding-bottom: 100px;
        margin-bottom: 15px;

        .form-type-select {
          width: calc(100% - 40px);
          position: absolute;
          left: 20px;
          bottom: 0;
        }

      }

    }

    &:nth-child(3) {

      @include breakpoint($desk) {
        float: left;
        clear: left;

        h3 {
          font-size: 21px;
        }

      }

    }

    &:nth-child(4) {

      @include breakpoint($desk) {
        float: right;

        h3 {
          font-size: 21px;
        }

      }

    }

    h3 {
      margin-bottom: 10px;
    }

    .content {
      margin-bottom: 15px;
    }

    .form-type-select {

      @include breakpoint($desk) {
        margin-bottom: 20px;
      }

      select {
        cursor: pointer;
      }

    }

    .description {
      display: none;
    }

  }

  .form-submit {

    @include breakpoint($desk) {
      display: block;
      clear: both;
    }

  }

}
