.view-featured-speakers-home {

  ul {

    @include breakpoint($tab) {
      @include grid-items(5, 2%, 2%);
    }

    li {
      text-align: center;
      margin-bottom: 30px;

      .views-field-picture {
        display: inline-block;
        margin-bottom: 5px;
      }

      .views-field-name {
        text-align: center;

        a {

        }

      }

    }
  }

}
