.view-aed-attendees {
  background: white;
  padding: 10px 10px 0;
  margin-bottom: 60px;

  @include breakpoint($tab) {
    padding: 20px 20px 0;
  }

  @include breakpoint($desk) {
    background: white;
    padding: 25px 25px 0;
  }

  .view-content {

    @include breakpoint($tab) {
      @include grid-items(2, 4%, 4%);
    }

    @include breakpoint($desk) {
      @include grid-items(4, 3%, 3%);

      > *:nth-child(2n+1) {
        margin-left: 3%;
        clear: inherit;
      }

      > *:nth-child(4n+1) {
        margin-left: 0;
        clear: left;
      }

    }

  }

  .views-row {
    margin-bottom: 15px;

    @include breakpoint($desk) {
      margin-bottom: 3%;
    }

  }

  table {
    tr {
      td {
        vertical-align: top;
      }
    }
  }

  .pager {
    margin-top: 60px;
  }
}

.user-item {
  background: #69ACE5;
  display: table;
  width: 100%;

  @include breakpoint($desk) {
    min-height: 123px;
  }

  .image {
    width: 100px;
    max-width: 100px;
    display: table-cell;
    vertical-align: top;
    position: relative;

    @include breakpoint($desk) {
      width: 115px;
    }

    .inner-content {

      img {
        width: 100%;
        height: auto;
      }

      .featured {
        width: 100%;
        background: #D60053;
        color: white;
        font-size: 12px;
        font-weight: bold;
        line-height: 21px;
        text-align: center;
        position: absolute;
        bottom: 0;
      }

    }
  }

  .content {
    display: table-cell;
    vertical-align: top;
    position: relative;
    padding: 12px 10px 27px;

    .name {
      font-weight: bold;
      line-height: normal;

      > * {
        display: inline-block;
        margin-right: 4px;
      }
    }

    .organization {
      color: white;
      font-size: 12px;
      line-height: 14px;
      margin-top: 6px;
    }

    .nick {
      position: absolute;
      bottom: 7px;
      color: white;
      font-size: 12px;
    }

  }
}