.view-news-home {
  position: relative;
  z-index: 0;

  .view-content {
    @include breakpoint($tab) {
      @include grid-items(2, 2%, 2%);
    }

    article {

      &:before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .3);
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
      }

      .field--name-title-field {
        z-index: 9999;
        position: relative;
      }

      .content {
        z-index: 9999;
      }

    }
  }

}